*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url(https://png.pngtree.com/background/20220714/original/pngtree-various-flower-nature-wallpaper-in-pink-picture-image_1604480.jpg);


}
form {

    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    display: block;
    

}
input{
    display: block;
    padding: 10px 10px;
    border: 2px solid black;
    margin: 5px;
    background-color: rgba(243, 198, 232, 0.874);
    display: flex;
   
}
label{
    display: flex;
    padding: 10px 10px;
    font-size: 10px;
    color: rgb(64, 7, 118);

}

 

